Repository XaverLeet/clickndebrid: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

ci: fix workflow error related to artifact downloading
  .github/workflows/docker-manifest.yml
Due: none

ci: upgrade to GitHub Actions artifact v4
  .github/workflows/docker-amd64.yml
  .github/workflows/docker-arm64.yml
  .github/workflows/docker-manifest.yml
Due: none

chore: release v1.1.42
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: correct encryption process for processed CNL data
  src/services/cnlService.ts
Due: eslint --fix, prettier --write

refactor(ci): updated docker build and push workflow
  .github/workflows/docker-amd64.yml
  .github/workflows/docker-arm64.yml
  .github/workflows/docker-manifest.yml
  .github/workflows/docker.yml
Due: none

ci: remove sync_main workflow
  .github/workflows/sync_main.yml
Due: none

chore: Removes custom release and git helper scripts
  .release-it.json
  scripts/commit.sh
  scripts/git-push.sh
  scripts/release-it-wrapper.js
  scripts/release.sh
Due: prettier --write

ci: Integrates GitVersion for automated versioning and release workflow
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/gitversion.yml
  .github/workflows/release.yml
Due: none

ci: Integrates GitVersion for automated semantic versioning
  GitVersion.yml
  docs/semver.md
Due: prettier --write

ci: Removes release-it and switches to GitVersion for versioning
  package-lock.json
  package.json
Due: prettier --write

fix: Fixes encryption bug and adds debug logging
  src/services/cnlService.ts
Due: eslint --fix, prettier --write

ci: Removes auto-staging of lockfile in pre-commit hook
  .husky/pre-commit
  scripts/pre-commit.sh
Due: none

ci: Adds reusable workflow outputs for GitVersion
  .github/workflows/gitversion.yml
Due: none

ci: Adds permissions to CI workflow for PRs
  .github/workflows/ci.yml
Due: none

chore: release v1.1.45-ci.9
  CHANGELOG.md
  package.json
Due: prettier --write

ci: Switches release creation to use GitHub CLI
  .github/workflows/release.yml
Due: none

ci: Switches to ContinuousDelivery mode and updates branch config
  GitVersion.yml
Due: none

chore: release v1.1.45
  CHANGELOG.md
  package.json
Due: prettier --write

build: Standardizes Dockerfile platform and stage naming
  Dockerfile
Due: none

build: Updates default formatter for Dockerfiles
  .vscode/settings.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.md)) or (any of: *.json)
